.btn{
  background-color: #0c70f2;
  color: #191b1f;
  border: none;
  font-size: 1.1em;
  padding: 14px 36px;
  border-radius: 8px;
  font-weight: bolder;
  margin-top: 15px;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(-7px);
  transition-duration: 0.5s;
}

