.footer{
  background-color: #090a0b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin-top: 238px;
  padding: 0 16px 66px;
}

.footer div{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: flex-start;
}

.footer div:first-child{
  margin-right: 36px;
}
.interno{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px){
  .interno{
    flex-direction: row;
  }
  .interno a{
    padding-left: 12px;
  }
  .footer{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .footer div{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
