.header{
  padding: 10px 0 10px;
  width: 100%;
  background-color: #141b24;
}
.header nav{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.header ul:first-child {
  flex-wrap:wrap;
}


.header ul{
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: flex-start;
}

.header li{
  margin: 26px;
}

.header button{
  display: none;
  border-radius: 8px;
  border-color: white;
  margin-left: 10px;
}

@media screen and (max-width: 757px){
  .header button{
    display: block;
    width: 80px;
    height: 60px;
    background: transparent;
    cursor: pointer;
  }
  .header button:houver{
    cursor: pointer;
  }
  .header nav{
    flex-direction: column;
    display: none;
  }
  .header ul:first-child {
    flex-direction: column;
  }
  .header ul {
    padding: 0;
    align-items: center;
  }
}
